<?xml version="1.0" encoding="UTF-8"?>

<!--根标签，设置dubug为true可以打印出logback本身的日志，默认为false-->
<configuration scan="false" scanPeriod="60000" debug="false">

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"/>
    <!--本地开发用-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <!--默认全部进文件，根据实际情况设置additivity为false-->
    <logger name = "com.univ.springboot" level = "info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="off"/>

</configuration>